@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');

*{
    font-family: 'Merriweather Sans', sans-serif;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 1767px;
    width: 1440px;
    background-color: #22212C;
    color: #837E9F;
}
a{
    text-decoration:none;
    color: #7e0bdb;
}
a:hover{
    color: #00ff00;
    transition: 1s;
}
#perfil{
    margin-top: 30px;
    border-radius: 50%;
    height: 150px;
    border: 3px solid #00ff00;
}
.secs{
    border-radius: 20px;
    border: 1px solid rgb(10, 10, 10);
    background-color: #302f3d;
    fill: #302F3D;
    box-shadow: 2px 2px 2px 1px #000000;
}
.abs{
    position: absolute;
    
}

#sec1{
    height: 292px;
    left: 40px;
    top: 40px;
    text-align: center;
}
#foto{
    height: 128px;
    width: 128px;
    margin: 32px auto 32px;
    border: 2px solid #00ff00;
    border-radius: 50%;
}
.name{
    font-size: 23px;
    font-weight: 700;
}
.title{
    font-size: 13px;
    font-weight: normal;
}
.circle{
    height: 13px;
    position: relative;
    right: 30px;
    bottom: 20px;
}
.wdh{
    width: 952px;
}
#sec2{
    height: 86px;
    top: 40px;
    left: 448px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#hd1{
    font-size: 20px;
    margin: 30px ;
}
#hd2{
    margin: 34px 30px;
}
.secs2{
    width: 461px;
    height: 186px;
}
#sec3{
    left: 939px;
    top: 157px;
}
#sec3 a:hover , #sec4 a:hover {
    color:#00ff00;
    transition: 1s;
}
#sec4{
    left: 448px;
    top: 157px;
}
#sec5{
    height: 86px;

    left: 448px;
    top: 373px;
}
#sec6{
    height: 200px;
    left: 448px;
    top: 489px;
}
#sec7{
    left: 40px;
    top: 362px;
}
#sec8{
    width: 350px;
    height: 208px;
    left: 40px;
    top: 740px;
}
.wdh2{
    width: 350px;
    height: 350px;
}
.wdh3{
    width: 350px;
}
#sec9{
    
    left: 40px;
    top: 978px;
}
#sec10{
    left: 40px;
    top: 1357px;
}
footer{
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    color: #837E9F;
    width: 206px;
    height: 19px;
    left: 617px;
    top: 1728px;
}
.repo1, .repo2{
    display: flex;
    flex-direction:row;
    justify-content:left;
}
.folder{
    margin: 30px 0px 0px 25px;
    font-weight: bold;
}
p.folder{
    position: relative;
    top: 2px;
}
.lng{
    text-align: center;
    width: 92px;
    height: 16px;
    position: relative;
    top: 5%;
    left: 70%;
}
.social{
    text-align: left;
    margin-left: 80px;
    margin-top: 10px;
}
.img-adj{
    position: relative;
    top: 35px;
    margin-left: 30px;
    
}