@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');

*{
    font-family: 'Merriweather Sans', sans-serif;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 1767px;
    width: 1440px;
    background-color: #22212C;
    color: #837E9F;
}
.secs{
    border-radius: 20px;
    border: 1px solid rgb(10, 10, 10);
    background-color: #302f3d;
    fill: #302F3D;
    box-shadow: 2px 2px 2px 1px #000000;
}
#sec1{
    width: 348px;
    height: 292px;
    position: absolute;
    left: 40px;
    top: 40px;
    text-align: center;
}
#foto{
    height: 128px;
    width: 128px;
    margin: 32px auto 32px;
    border: 2px solid #00ff00;
    border-radius: 50%;
}
.name{
    font-size: 23px;
    font-weight: 700;
}
.title{
    font-size: 13px;
    font-weight: 300;
}
#sec2{
    width: 952px;
    height: 86px;
    position: absolute;
    top: 40px;
    left: 448px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#hd1{
    font-size: 20px;
    margin: 30px ;
}
#hd2{
    margin: 34px 30px;
    font-size: 14px;
}
#sec3{
    width: 461px;
    height: 186px;
    position: absolute;
    left: 939px;
    top: 157px;
}
#sec4{
    width: 461px;
    height: 186px;
    position: absolute;
    left: 448px;
    top: 157px;
}
#sec5{
    width: 952px;
    height: 86px;
    position: absolute;
    left: 448px;
    top: 373px;
}
#sec6{
    position: absolute;
    width: 952px;
    height: 201px;
    left: 448px;
    top: 489px;
}
#sec7{
    position: absolute;
    width: 348px;
    height: 348px;
    left: 40px;
    top: 362px;
}
#sec8{
    position: absolute;
    width: 348px;
    height: 208px;
    left: 40px;
    top: 740px;
}
#sec9{
    position: absolute;
    width: 348px;
    height: 349px;
    left: 40px;
    top: 978px;
}
#sec10{
    position: absolute;
    width: 348px;
    height: 352px;
    left: 40px;
    top: 1357px;
}
footer{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #837E9F;
    position: absolute;
    width: 206px;
    height: 19px;
    left: 617px;
    top: 1728px;
}